.nav {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  text-align: right;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-container {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.nav-link {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.8s ease-in-out;
  transition: color 0.8s ease-in-out;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white);
}

@media (max-width: 768px) {
  .nav {
    padding: 1rem;
  }

  .nav-container {
    font-size: 1.2rem;
    margin-bottom: 2rem
  }

  .nav-links {
    gap: 1rem;
  }

  .nav-link {
    padding: 0.5rem;
  }
}